{
  "parser": "@typescript-eslint/parser",
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "plugins": ["@typescript-eslint"],
  "root": true,
  "rules": {
    "no-console": "error",
    "multiline-comment-style": ["error", "separate-lines"],
    "multiline-ternary": ["error", "never"],
    "no-unreachable": "error",
    "jest/lowercase-name": "off",
    "require-await": "error",
    "no-use-before-define": "warn"
  },
  "env": {
    "es6": true
  },
  "globals": {},
  "ignorePatterns": ["node_modules/", "commitlint.config.js", "jest.config.js", "dist"]
}
